.image {
    width: 600px;
    height: 500px;
}

.laptop-detail {
    margin: 20px;
    padding: 5px;
    border-radius: 10px;
}

.increase-field {
    margin-left: 300px;
    width: 300px;
    margin-top: 20px;
}